

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    This is index page!
    <p><a href="https://localhost:5001/hall/">Hall/Index</a> <a href="https://localhost:5001/hall/create">Hall/Create</a></p>
</body>
</html>
