@model IEnumerable<WebApi.Models.Subject>
@{
    ViewBag.Title = "Subject";
}
<a asp-action="Create">Add subject</a>
<p><a href="https://localhost:5001/subject/create">Create</a></p>
<table class="table">
    <tr><td>Subject ID</td><td>Name</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.SubjectId</td><td>@item.SubjectName</td></tr>
    }
</table>